main {
  padding-top: 1.5rem;
  background-color: #f9f9f9;
  height: calc(100vh - 1.5rem);
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  gap: 60px;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
}
